<section class="content-block">
  <h1 id="body-title"></h1>
  <form class="d-flex flex-column w-25 gap-4">
    <div class="block-inputs d-flex flex-column gap-2">
      <select class="create-input" name="typeOperation" id="typeOperationElement">
        <option selected value="income">Доход</option>
        <option value="expense">Расход</option>
      </select>
      <select class="create-input" name="categoryIdOperation" id="selectCategories">

      </select>
      <input id="amountOperation" class="create-input" type="number" placeholder="Сумма..." checked>
      <input id="dateOperation" class="create-input" type="date" placeholder="Дата..." checked>
      <input id="commentOperation" class="create-input" type="text" placeholder="Комментарий...">
    </div>
    <div class="block-actions">
      <button id="btnCreateOperation" class="create" type="button">Создать</button>
      <a href="" onclick="javascript:history.back(); return false;" class="cancel">Отменить</a>
    </div>
  </form>
</section>