<section class="content-block">
    <h1 id="body-title"></h1>
    <div id="block-categories" class="blocks">

    </div>

    <div id="popup" class="popup align-items-center justify-content-center position-absolute">
        <div class="popup-block">
            <div class="popup-title">
                Вы действительно хотите удалить категорию? Связанные доходы будут удалены навсегда.
            </div>
            <div class="block-actions">
                <button id="yesDelete" class="create">Да, удалить</button>
                <button id="noDelete" class="cancel">Не удалять</button>
            </div>
        </div>
    </div>
</section>